<template>
    <div class="role-pills">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        data: () => ({
            tag: "[role-pills]"
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
            }
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .role-pills {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: -10px;
        a, a:active, a:visited, a:hover {
            text-decoration: none;
            .role-pill {
                margin: 0 10px 10px 0;
            }
        }
    }
</style>