<template>
    <div class="role-pill" :style="{ backgroundColor: role.bg_color, color: role.text_color }">
        <div class="role-pill__icon" v-if="role.icon !== null" v-html="role.icon"></div>
        <div class="role-pill__text">
            {{ role.name }}
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            "role"
        ],
        data: () => ({
            tag: "[role-pill]"
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" role: ", this.role);
            }
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .role-pill {
        display: flex;
        font-size: .8em;
        padding: 5px 10px;
        border-radius: 3px;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        text-transform: uppercase;
        .role-pill__icon {
            margin-right: 10px;
        }
        .role-pill__text {
            flex: 1;
        }
    }
</style>