
// Admin layout
$text-font: 'Roboto', sans-serif;
$heading-font: 'Roboto Slab', serif;
$admin-sidebar-width: 300px;
$admin-topnav-bg-color: #fcfcfc;
$admin-content-bg-color:#ECEFF1;
$admin-footer-bg-color: #ffffff;
// $admin-footer-bg-color:  #0c0a0a;
// $admin-footer-bg-color: #CFD8DC;
