
// Variables
@import 'variables';

// Google webfonts
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Roboto+Slab:300,400,700|Roboto:300,400,500,700');

// Vuetify
@import '~vuetify/dist/vuetify.min.css';

// Air datepicker
@import 'node_modules/air-datepicker/dist/css/datepicker';

// Mini Colorpicker
@import '~@claviska/jquery-minicolors/jquery.minicolors.css';


// -------------------------------------------------------------------
// General styling
// -------------------------------------------------------------------

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    min-height: 100%;
    font-family: $text-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

// -------------------------------------------------------------------
// Vuetify hacks
// -------------------------------------------------------------------

.v-btn {
    &.icon-right {
        .v-icon, .fa, .far, .fas, .svg-inline--fa {
            margin-right: 0;
            margin-left: 10px;
        }
    }
    .v-icon {
        margin-right: 7px;
    }
    .fa, .far, .fas, .svg-inline--fa {
        margin-right: 7px;
    }
    .custom-button-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
    &.icon-only {
        min-width: auto;
        .v-icon, .svg-inline--fa, .custom-button-icon {
            margin: 0;
        }
    }
}

// -------------------------------------------------------------------
// Repeatable elements
// -------------------------------------------------------------------

.details {
    .detail {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:last-child {
            border-bottom: 0;
        }
        .key {
            flex: 0 0 300px;
            font-weight: bold;
        }
        .val {
            flex: 1;
        }
        .key, .val {
            display: flex;
            padding: 7px 15px;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
        }
    }
}

.controls {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    .controls-left {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .v-btn {
            margin: 0 10px 0 0;
        }
    }
    .controls-right {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .v-btn {
            margin: 0 0 0 10px;
        }
    }
}

// -------------------------------------------------------------------
// Feedback
// -------------------------------------------------------------------

.form-errors {
    font-size: .9em;
    padding: 10px 15px;
    border-radius: 3px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: #B71C1C;
    .form-errors__list {
        margin: 0;
        padding: 0;
        list-style: none;
        .form-error {
            color: #ffffff;
            margin-bottom: 5px;
            box-sizing: border-box;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.alert-wrapper {
    margin-bottom: -20px;
    padding: 50px 50px 0 50px;
}
.alert {
    color: #fff;
    border-radius: 3px;
    padding: 15px 20px;
    box-sizing: border-box;
    background-color: #ccc;
    margin-bottom: 30px;
}
.alert-success {
    background-color: #00ab16;
}
.alert-info {
    background-color: #01d3e8;
}
.alert-danger {
    background-color: #B71C1C;
}
.alert-warning {
    background-color: #d55706;
}

// -------------------------------------------------------------------
// Dialog modals
// -------------------------------------------------------------------

.modal {
    .modal-header {
        display: flex;
        padding: 10px 20px;
        flex-direction: row;
        box-sizing: border-box;
        background-color: #fcfcfc;
        .modal-header__text {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            .modal-header__title {
                font-size: 1.5em;
            }
        }
        .modal-header__actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            a, a:active, a:visited {
                font-size: 2em;
                color: #000000;
                text-decoration: none;
            }
        }
    }
    .modal-content {
        padding: 20px;
        box-sizing: border-box;
        background-color: #ffffff;
        .controls {
            margin-top: 15px;
        }
    }
}

// -------------------------------------------------------------------
// 
// -------------------------------------------------------------------

// -------------------------------------------------------------------
// 
// -------------------------------------------------------------------

// -------------------------------------------------------------------
// 
// -------------------------------------------------------------------

// -------------------------------------------------------------------
// 
// -------------------------------------------------------------------



