
// General styling
@import 'general';

// Admin variables
@import 'admin-variables';

// -------------------------------------------------------------------
// Master admin layout
// -------------------------------------------------------------------

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.25);
    #topnav {
        z-index: 1;
        display: flex;
        flex: 0 0 60px;
        flex-direction: row;
        background-color: #ffffff;
        #topnav-logo {
            display: flex;
            flex: 0 0 300px;
            padding: 0 15px;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
            #logo {
                height: 30px;
                flex: 0 0 30px;
                margin-right: 15px;
            }
            #logo-text {
                flex: 1;
                display: flex;
                font-weight: bold;
                flex-direction: row;
                align-items: center;
            }
        }
        #topnav-content {
            flex: 1;
            display: flex;
            padding: 0 15px;
            flex-direction: row;
            align-items: center;
            box-sizing: border-box;
        }
    }
    #content-wrapper {
        flex: 1;
        display: flex;
        flex-direction: row;
        #navigation-wrapper {
            display: flex;
            flex-direction: column;
            background-color: #fcfcfc;
            flex: 0 0 $admin-sidebar-width;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            #user-card {
                display: flex;
                flex: 0 0 109px;
                flex-direction: row;
                box-sizing: border-box;
                padding: 35px 25px 10px 25px;
                #user-card__avatar {
                    flex: 0 0 64px;
                    #avatar {
                        width: 64px;
                        height: 64px;
                        border-radius: 32px;
                        background-size: cover;
                        background-color: #333;
                        background-repeat: no-repeat;
                        background-position: center center;
                    }
                }
                #user-card__text {
                    flex: 1;
                    display: flex;
                    padding-left: 15px;
                    flex-direction: column;
                    justify-content: center;
                    #user-card__name {
                        font-size: 1.1em;
                        margin-bottom: 5px;
                    }
                    #user-card__roles {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        .role {
                            color: #fff;
                            font-size: .7em;
                            padding: 2px 4px;
                            border-radius: 3px;
                            margin: 0 5px 5px 0;
                            box-sizing: border-box;
                            text-transform: uppercase;
                            background-color: #333333;
                        }
                    }
                }
            }
            #navigation-links {
                flex: 1;
                padding: 25px;
                box-sizing: border-box;
            }
            #navigation-spacer {
                flex: 1;
            }
            #navigation-logout {
                flex: 0 0 49px;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                #logout-button {
                    width: 100%;
                    height: 49px;
                    display: flex;
                    padding: 15px;
                    color: #000000;
                    flex-direction: row;
                    align-items: center;
                    transition: all .3s;
                    text-decoration: none;
                    box-sizing: border-box;
                    .svg-inline--fa, .fas {
                        margin-right: 7px;
                    }
                    &:hover {
                        background-color: #f5f5f5;
                    }
                }
            }
        }
        #content-area {
            flex: 1;
            display: flex;
            flex-direction: column;
            background-color: $admin-content-bg-color;
            #content {
                flex: 1;
            }
            #footer {
                display: flex;
                flex: 0 0 50px;
                color: #000000;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.25);
                background-color: $admin-footer-bg-color;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
}

#breadcrumbs-wrapper {
    margin-bottom: 15px;
    #breadcrumbs {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        flex-direction: row;
        .breadcrumb-item {
            display: flex;
            font-size: .9em;
            margin-right: 5px;
            align-items: center;
            .svg-inline--fa {
                margin-top: -2px;
                margin-right: 5px;
                transition: all .4s;
                // color: rgba(255, 255, 255, 0.5);
                color: rgba(0, 0, 0, 0.5);
            }
            .v-icon {
                // color: rgba(255, 255, 255, 0.5);
                color: rgba(0, 0, 0, 0.5);
            }
            a, a:active, a:visited, a:link {
                display: flex;
                align-items: center;
                transition: all .4s;
                text-decoration: none;
                // color: rgba(255, 255, 255, 0.5);
                color: rgba(0, 0, 0, 0.5);
            }
            a:hover {
                // color: rgba(255, 255, 255, 1);
                color: rgba(0, 0, 0, 1);
                cursor: pointer;
                .svg-inline--fa {
                    // color: rgba(255, 255, 255, 1);
                    color: rgba(0, 0, 0, 1);
                }
            }
            &.active {
                // color: #fff;
                // color: #000000;
                // color: rgba(255, 255, 255, 1);
                color: rgba(0, 0, 0, 1);
                .svg-inline--fa {
                    // color: rgba(255, 255, 255, 1);
                    color: rgba(0, 0, 0, 1);
                }
            }
        }
    }
}

// -------------------------------------------------------------------
// Page content
// -------------------------------------------------------------------

.wrapper {
    padding: 50px;
    box-sizing: border-box;
}

.page-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    .page-header__text {
        flex: 1;
        .page-header__title {
            font-size: 1.75em;
        }
        .page-header__subtitle {
            font-size: 1.1em;
            color: rgba(0, 0, 0, 0.55);
        }
    }
    .page-header__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}

.content-card-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    .content-card-header__text {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        .content-card-header__title {
            font-size: 1.5em;
        }
    }
    .content-card-header__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.content-card {
    padding: 25px;
    border-radius: 3px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: #ffffff;
    &.no-padding {
        padding: 0;
    }
}
