<template>
    <div id="auth-settings">
        
        <!-- Require email verification -->
        <div class="field">
            <boolean-field
                name="require_email_verification"
                v-model="form.requireEmailVerification"
                :label="settingRequireEmailVerification.label"
                :hint="settingRequireEmailVerification.description">
            </boolean-field>
        </div>
        
        <!-- Allow registration -->
        <div class="field">
            <boolean-field
                name="allow_registration"
                v-model="form.allowRegistration"
                :label="settingAllowRegistration.label"
                :hint="settingAllowRegistration.description">
            </boolean-field>
        </div>
        
        <!-- Allow account recovery -->
        <div class="field">
            <boolean-field
                name="allow_account_recovery"
                v-model="form.allowAccountRecovery"
                :label="settingAllowAccountRecovery.label"
                :hint="settingAllowAccountRecovery.description">
            </boolean-field>
        </div>
        
        <!-- Enable two factor auth -->
        <div class="field">
            <boolean-field
                name="enable_two_factor_auth"
                v-model="form.enableTwoFactor"
                :label="settingEnableTwoFactorAuth.label"
                :hint="settingEnableTwoFactorAuth.description">
            </boolean-field>
        </div>

    </div>
</template>

<script>
    export default {
        props: [
            "settingRequireEmailVerification",
            "settingAllowRegistration",
            "settingAllowAccountRecovery",
            "settingEnableTwoFactorAuth",
            "oldInput"
        ],
        data: () => ({
            tag: "[auth-settings]",
            form: {
                requireEmailVerification: false,
                allowRegistration: false,
                allowAccountRecovery: false,
                enableTwoFactor: false,
            }
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" setting require email verification: ", this.settingRequireEmailVerification);
                console.log(this.tag+" setting allow registration: ", this.settingAllowRegistration);
                console.log(this.tag+" setting allow account recovery: ", this.settingAllowAccountRecovery);
                console.log(this.tag+" setting enable two factor authentication: ", this.settingEnableTwoFactorAuth);
                console.log(this.tag+" old input: ", this.oldInput);
                this.initializeData();
            },
            initializeData() {
                if (this.settingRequireEmailVerification !== undefined && this.settingRequireEmailVerification !== null) {
                    this.form.requireEmailVerification = this.settingRequireEmailVerification.formatted_value;
                }
                if (this.settingAllowRegistration !== undefined && this.settingAllowRegistration !== null) {
                    this.form.allowRegistration = this.settingAllowRegistration.formatted_value;
                }
                if (this.settingAllowAccountRecovery !== undefined && this.settingAllowAccountRecovery !== null) {
                    this.form.allowAccountRecovery = this.settingAllowAccountRecovery.formatted_value;
                }
                if (this.settingEnableTwoFactorAuth !== undefined && this.settingEnableTwoFactorAuth !== null) {
                    this.form.enableTwoFactor = this.settingEnableTwoFactorAuth.formatted_value;
                }
            },
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    #auth-settings {
        .field {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
</style>