<template>
    <div id="navigation-settings">

        <!-- Headers -->
        <div id="navigation-headers" v-if="mutableData.length > 0">

            <!-- Header wrapper -->
            <div class="header-wrapper" v-for="(header, hi) in mutableData" :key="hi">
                
                <!-- Header -->
                <div class="header">

                    <!-- Header text -->
                    <div class="header-text">
                        <div class="header-text__subtitle">header</div>
                        <div class="header-text__title">
                            {{ header.text }}
                        </div>
                    </div>

                    <!-- Header actions -->
                    <div class="header-actions">
                        <!-- Move up -->
                        <v-tooltip bottom v-if="showHeaderMoveButton(hi, 'up')">
                            <a slot="activator" href="#" @click.stop.prevent="onClickMoveUpHeader(hi)">
                                <i class="fas fa-chevron-up"></i>
                            </a>
                            <span>Move header up</span>
                        </v-tooltip>
                        <!-- Move down -->
                        <v-tooltip bottom v-if="showHeaderMoveButton(hi, 'down')">
                            <a slot="activator" href="#" @click.stop.prevent="onClickMoveDownHeader(hi)">
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <span>Move header down</span>
                        </v-tooltip>
                        <!-- Add link -->
                        <v-tooltip bottom>
                            <a slot="activator" href="#" @click.stop.prevent="onClickCreateLink(hi)">
                                <i class="fas fa-plus"></i>
                            </a>
                            <span>Add link to this header</span>
                        </v-tooltip>
                        <!-- Edit -->
                        <v-tooltip bottom>
                            <a slot="activator" class="edit" href="#" @click.stop.prevent="onClickEditHeader(hi)">
                                <i class="far fa-edit"></i>
                            </a>
                            <span>Edit header</span>
                        </v-tooltip>
                        <!-- Delete -->
                        <v-tooltip bottom>
                            <a slot="activator" class="delete" href="#" @click.stop.prevent="onClickDeleteHeader(hi)">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            <span>Delete header</span>
                        </v-tooltip>
                    </div>

                </div>

                <!-- Links wrapper -->
                <div class="links-wrapper" v-if="header.links.length > 0">
                    <div class="links-label">links</div>
                    <div class="links">

                        <!-- Link entry -->
                        <div class="link-entry" v-for="(link, li) in header.links" :key="li">

                            <!-- Link -->
                            <div class="link">
                                <!-- Link icon -->
                                <div class="link-icon" v-if="link.icon !== null" v-html="link.icon"></div>
                                <!-- Link text -->
                                <div class="link-text">{{ link.text }}</div>
                                <!-- Link actions -->
                                <div class="link-actions">
                                    <!-- Move up -->
                                    <v-tooltip bottom v-if="showLinkMoveButton(hi, li, 'up')">
                                        <a slot="activator" href="#" @click.stop.prevent="onClickMoveUpLink(hi, li)">
                                            <i class="fas fa-chevron-up"></i>
                                        </a>
                                        <span>Move link up</span>
                                    </v-tooltip>
                                    <!-- Move down -->
                                    <v-tooltip bottom v-if="showLinkMoveButton(hi, li, 'down')">
                                        <a slot="activator" href="#" @click.stop.prevent="onClickMoveDownLink(hi, li)">
                                            <i class="fas fa-chevron-down"></i>
                                        </a>
                                        <span>Move link down</span>
                                    </v-tooltip>
                                    <!-- Add sublink -->
                                    <v-tooltip bottom>
                                        <a slot="activator" href="#" @click.stop.prevent="onClickCreateSublink(hi, li)">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <span>Add sublink to this link</span>
                                    </v-tooltip>
                                    <!-- Edit -->
                                    <v-tooltip bottom>
                                        <a slot="activator" href="#" class="edit" @click.stop.prevent="onClickEditLink(hi, li)">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <span>Edit link</span>
                                    </v-tooltip>
                                    <!-- Delete -->
                                    <v-tooltip bottom>
                                        <a slot="activator" href="#" class="delete" @click.stop.prevent="onClickDeleteLink(hi, li)">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                        <span>Delete link</span>
                                    </v-tooltip>
                                </div>
                            </div>

                            <!-- Sublinks -->
                            <div class="sublinks-wrapper" v-if="link.sublinks !== undefined && link.sublinks !== null && link.sublinks.length > 0">
                                <div class="sublinks">

                                    <!-- Sublink -->
                                    <div class="sublink" v-for="(sublink, si) in mutableData[hi].links[li].sublinks" :key="si">
                                        <div class="sublink-text">{{ sublink.order }} - {{ sublink.text }}</div>
                                        <div class="sublink-actions">
                                            <!-- Move up -->
                                            <v-tooltip bottom v-if="showSublinkMoveButton(hi, li, si, 'up')">
                                                <a slot="activator" href="#" @click.stop.prevent="onClickMoveUpSublink(hi, li, si)">
                                                    <i class="fas fa-chevron-up"></i>
                                                </a>
                                                <span>Move up sublink</span>
                                            </v-tooltip>
                                            <!-- Move down -->
                                            <v-tooltip bottom v-if="showSublinkMoveButton(hi, li, si, 'down')">
                                                <a slot="activator" href="#" @click.stop.prevent="onClickMoveDownSublink(hi, li, si)">
                                                    <i class="fas fa-chevron-down"></i>
                                                </a>
                                                <span>Move down sublink</span>
                                            </v-tooltip>
                                            <!-- Edit -->
                                            <v-tooltip bottom>
                                                <a slot="activator" href="#" class="edit" @click.stop.prevent="onClickEditSublink(hi, li, si)">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                                <span>Edit sublink</span>
                                            </v-tooltip>
                                            <!-- Delete -->
                                            <v-tooltip bottom>
                                                <a slot="activator" href="#" class="delete" @click.stop.prevent="onClickDeleteSublink(hi, li, si)">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                                <span>Delete sublink</span>
                                            </v-tooltip>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            
            </div>

            <!-- Create new header -->
            <div id="header-actions">
                <v-btn small flat @click="onClickCreateHeader">
                    <i class="fas fa-plus"></i>
                    Create a new header
                </v-btn>
            </div>

        </div>

        <!-- No headers -->
        <div id="no-navigation-settings" v-if="mutableData.length === 0">
            No navigation headers found in the database.
        </div>

        <!-- Add header -->
        <v-dialog v-model="dialogs.addHeader.show" width="600">
            <v-card class="modal">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <div class="modal-header__title">Add a new header</div>
                    </div>
                    <div class="modal-header__actions">
                        <a href="#" @click.stop.prevent="dialogs.addHeader.show = false">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-content">
                    <v-text-field label="Name" v-model="dialogs.addHeader.form.name"></v-text-field>
                    <v-text-field label="Text" v-model="dialogs.addHeader.form.text"></v-text-field>
                    <div class="controls">
                        <div class="controls-right">
                            <v-btn color="success" @click="onClickConfirmCreateHeader">
                                <i class="far fa-save"></i>
                                Add header to the navigation
                            </v-btn>
                        </div>
                    </div>
                </div>
            </v-card>
        </v-dialog>

        <!-- Edit header -->
        <v-dialog v-model="dialogs.editHeader.show" width="600">
            <v-card class="modal">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <div class="modal-header__title">Edit header</div>
                    </div>
                    <div class="modal-header__actions">
                        <a href="#" @click.stop.prevent="dialogs.editHeader.show = false">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-content">
                    <v-text-field label="Name" v-model="dialogs.editHeader.form.name"></v-text-field>
                    <v-text-field label="Text" v-model="dialogs.editHeader.form.text"></v-text-field>
                    <div class="controls">
                        <div class="controls-right">
                            <v-btn color="success" @click="onClickConfirmEditHeader">
                                <i class="far fa-save"></i>
                                Save changes to header
                            </v-btn>
                        </div>
                    </div>
                </div>
            </v-card>
        </v-dialog>

        <!-- Delete header -->
        <v-dialog v-model="dialogs.deleteHeader.show" width="600">
            <v-card class="modal">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <div class="modal-header__title">Delete header</div>
                    </div>
                    <div class="modal-header__actions">
                        <a href="#" @click.stop.prevent="dialogs.deleteHeader.show = false">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-content">
                    <p class="modal-paragraph">
                        Are you sure you want to delete this header from the navigation? This will also delete all of it's links and sublinks.
                    </p>
                    <div class="controls">
                        <div class="controls-left">
                            <v-btn color="success" @click="dialogs.deleteHeader.show = false">
                                <i class="fas fa-long-arrow-alt-left"></i>
                                No, cancel
                            </v-btn>
                        </div>
                        <div class="controls-right">
                            <v-btn color="red" dark @click="onClickConfirmDeleteHeader">
                                <i class="far fa-trash-alt"></i>
                                Yes, delete header
                            </v-btn>
                        </div>
                    </div>
                </div>
            </v-card>
        </v-dialog>

        <!-- Add link -->
        <v-dialog v-model="dialogs.addLink.show" width="600">
            <v-card class="modal">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <div class="modal-header__title">Add link to header</div>
                    </div>
                    <div class="modal-header__actions">
                        <a href="#" @click.stop.prevent="dialogs.addLink.show = false">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-content">
                    <v-text-field label="Name" v-model="dialogs.addLink.form.name"></v-text-field>
                    <v-text-field label="Text" v-model="dialogs.addLink.form.text"></v-text-field>
                    <v-text-field label="Icon" v-model="dialogs.addLink.form.icon"></v-text-field>
                    <v-text-field label="Href" v-model="dialogs.addLink.form.href"></v-text-field>
                    <v-text-field label="Route name" v-model="dialogs.addLink.form.route"></v-text-field>
                    <div class="controls">
                        <div class="controls-right">
                            <v-btn color="success" @click="onClickConfirmCreateLink">
                                <i class="far fa-save"></i>
                                Add link to the navigation
                            </v-btn>
                        </div>
                    </div>
                </div>
            </v-card>
        </v-dialog>

        <!-- Edit link -->
        <v-dialog v-model="dialogs.editLink.show" width="600">
            <v-card class="modal">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <div class="modal-header__title">Edit link</div>
                    </div>
                    <div class="modal-header__actions">
                        <a href="#" @click.stop.prevent="dialogs.editLink.show = false">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-content">
                    <v-text-field label="Name" v-model="dialogs.editLink.form.name"></v-text-field>
                    <v-text-field label="Text" v-model="dialogs.editLink.form.text"></v-text-field>
                    <v-text-field label="Icon" v-model="dialogs.editLink.form.icon"></v-text-field>
                    <v-text-field label="Href" v-model="dialogs.editLink.form.href"></v-text-field>
                    <v-text-field label="Route name" v-model="dialogs.editLink.form.route"></v-text-field>
                    <div class="controls">
                        <div class="controls-right">
                            <v-btn color="success" @click="onClickConfirmEditLink">
                                <i class="far fa-save"></i>
                                Save changes to link
                            </v-btn>
                        </div>
                    </div>
                </div>
            </v-card>
        </v-dialog>

        <!-- Delete link --> 
        <v-dialog v-model="dialogs.deleteLink.show" width="600">
            <v-card class="modal">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <div class="modal-header__title">Delete link from header</div>
                    </div>
                    <div class="modal-header__actions">
                        <a href="#" @click.stop.prevent="dialogs.deleteLink.show = false">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-content">
                    <p class="modal-paragraph">
                        Are you sure you want to delete this link from the navigation? This will also delete all of it's sublinks if there are any.
                    </p>
                    <div class="controls">
                        <div class="controls-left">
                            <v-btn color="success" @click="dialogs.deleteLink.show = false">
                                <i class="fas fa-long-arrow-alt-left"></i>
                                No, cancel
                            </v-btn>
                        </div>
                        <div class="controls-right">
                            <v-btn color="red" dark @click="onClickConfirmDeleteLink">
                                <i class="far fa-trash-alt"></i>
                                Yes, delete link
                            </v-btn>
                        </div>
                    </div>
                </div>
            </v-card>
        </v-dialog>

        <!-- Add sublink -->
        <v-dialog v-model="dialogs.addSublink.show" width="600">
            <v-card class="modal">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <div class="modal-header__title">Add sublink to link</div>
                    </div>
                    <div class="modal-header__actions">
                        <a href="#" @click.stop.prevent="dialogs.addSublink.show = false">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-content">
                    <v-text-field label="Name" v-model="dialogs.addSublink.form.name"></v-text-field>
                    <v-text-field label="Text" v-model="dialogs.addSublink.form.text"></v-text-field>
                    <v-text-field label="Href" v-model="dialogs.addSublink.form.href"></v-text-field>
                    <v-text-field label="Route name" v-model="dialogs.addSublink.form.route"></v-text-field>
                    <div class="controls">
                        <div class="controls-right">
                            <v-btn color="success" @click="onClickConfirmCreateSublink">
                                <i class="far fa-save"></i>
                                Add sublink to the navigation
                            </v-btn>
                        </div>
                    </div>
                </div>
            </v-card>
        </v-dialog>

        <!-- Edit sublink -->
        <v-dialog v-model="dialogs.editSublink.show" width="600">
            <v-card class="modal">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <div class="modal-header__title">Edit sublink</div>
                    </div>
                    <div class="modal-header__actions">
                        <a href="#" @click.stop.prevent="dialogs.editSublink.show = false">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-content">
                    <v-text-field label="Name" v-model="dialogs.editSublink.form.name"></v-text-field>
                    <v-text-field label="Text" v-model="dialogs.editSublink.form.text"></v-text-field>
                    <v-text-field label="Href" v-model="dialogs.editSublink.form.href"></v-text-field>
                    <v-text-field label="Route name" v-model="dialogs.editSublink.form.route"></v-text-field>
                    <div class="controls">
                        <div class="controls-right">
                            <v-btn color="success" @click="onClickConfirmEditSublink">
                                <i class="far fa-save"></i>
                                Save changes to sublink
                            </v-btn>
                        </div>
                    </div>
                </div>
            </v-card>
        </v-dialog>

        <!-- Delete sublink -->
        <v-dialog v-model="dialogs.deleteSublink.show" width="600">
            <v-card class="modal">
                <div class="modal-header">
                    <div class="modal-header__text">
                        <div class="modal-header__title">Delete sublink from link</div>
                    </div>
                    <div class="modal-header__actions">
                        <a href="#" @click.stop.prevent="dialogs.deleteSublink.show = false">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="modal-content">
                    <p class="modal-paragraph">
                        Are you sure you want to delete this sublink from the navigation?
                    </p>
                    <div class="controls">
                        <div class="controls-left">
                            <v-btn color="success" @click="dialogs.deleteSublink.show = false">
                                <i class="fas fa-long-arrow-alt-left"></i>
                                No, cancel
                            </v-btn>
                        </div>
                        <div class="controls-right">
                            <v-btn color="red" dark @click="onClickConfirmDeleteSublink">
                                <i class="far fa-trash-alt"></i>
                                Yes, delete sublink
                            </v-btn>
                        </div>
                    </div>
                </div>
            </v-card>
        </v-dialog>

    </div>
</template>

<script>
    export default {
        props: [
            "data",
            "baseUrl"
        ],
        data: () => ({
            tag: "[navigation-settings]",
            mutableData: [],
            dialogs: {
                addHeader: {
                    show: false,
                    form: {
                        name: "",
                        text: "",
                    }
                },
                editHeader: {
                    show: false,
                    headerIndex: null,
                    form: {
                        name: "",
                        text: ""
                    },
                },
                deleteHeader: {
                    show: false,
                    headerIndex: null,
                },
                addLink: {
                    show: false,
                    headerIndex: 0,
                    form: {
                        name: "",
                        text: "",
                        icon: "",
                        href: "",
                        route: ""
                    },
                },
                editLink: {
                    show: false,
                    headerIndex: null,
                    linkIndex: null,
                    form: {
                        name: "",
                        text: "",
                        icon: "",
                        href: "",
                        route: "",
                    }
                },
                deleteLink: {
                    show: false,
                    headerIndex: null,
                    linkIndex: null,
                },
                addSublink: {
                    show: false,
                    headerIndex: null,
                    linkIndex: null,
                    form: {
                        name: "",
                        text: "",
                        href: "",
                        route: ""
                    },
                },
                editSublink: {
                    show: false,
                    headerIndex: null,
                    linkIndex: null,
                    sublinkIndex: null,
                    form: {
                        name: "",
                        text: "",
                        href: "",
                        route: ""
                    },
                },
                deleteSublink: {
                    show: false,
                    headerIndex: null,
                    linkIndex: null,
                    sublinkIndex: null,
                },
            }
        }),
        computed: {
            apiBaseUrl() {
                return this.baseUrl + "/api/admin/navigation-settings/";
            },
        },
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" data: ", this.data);
                console.log(this.tag+" base url: ", this.baseUrl);
                this.initializeData();
            },
            initializeData() {
                // If there's data process (headers)
                if (this.data !== undefined && this.data !== null && this.data.length > 0) {

                    // Loop through all of the headers
                    for (let i = 0; i < this.data.length; i++) {

                        // Create a reference to the header we're processing
                        let header = this.data[i];

                        // Manually collect the links since we can't trust them
                        let links = [];

                        // If the header has links
                        if (header.links !== undefined && header.links !== null && header.links.length > 0) {

                            // Loop through all of the header's links
                            for (let j = 0; j < header.links.length; j++) {

                                // Grab a reference so we dont' have to type so much
                                let link = header.links[j];

                                // If the link has sublinks
                                if (link.sublinks !== undefined && link.sublinks !== null && link.sublinks.length > 0) {

                                    // Order the fuckers because Laravel can't for some reason which has cost me 5 fucking hours
                                    // FUCKKKKKKK. <3.
                                    link.sublinks = _.sortBy(link.sublinks, function(sublink) {
                                        return sublink.order;
                                    });

                                }

                                // Then add the link to our manual link collection array
                                links.push(link);

                            }

                        }

                        // ARGH FUCK FUAKC NOW THE LINKS ARENT SORTED ANYMOAR
                        // no probs though..
                        links = _.sortBy(links, function(link) {
                            return link.order;
                        });

                        // Now it's time to override the links on our header entry before adding that to the mutable data array
                        header.links = links;
                        this.mutableData.push(header);

                    }
                }
            },
            // Headers
            onClickMoveUpHeader(headerIndex) {
                console.log(this.tag+" clicked move up header button", headerIndex);

                // Make sure the header can be moved up
                if (headerIndex > 0) {
                    
                    // The array of headers to replace the current mutableData array
                    let headers = [];

                    // Determine the index of the other header, grab it and update it
                    let otherHeaderIndex = headerIndex - 1;
                    let otherHeader = this.mutableData[otherHeaderIndex];
                    otherHeader.order += 1;

                    // Save the header's ID once we encounter it for the API call later on
                    let headerId = null;

                    // Loop through all of the headers in the mutableData
                    for (let i = 0; i < this.mutableData.length; i++) {

                        // Grab the header we're processing
                        let header = this.mutableData[i];

                        // If it's the header we're moving up, skip it
                        if (i === otherHeaderIndex) {
                            continue;
                        // If it's the other header
                        } else if (i === headerIndex) {

                            // Save the header's ID
                            headerId = header.id;

                            // Update the header and add it to the output
                            header.order -= 1;
                            headers.push(header);

                            // Add the other header to the output
                            headers.push(otherHeader);
                            
                        // If it's any other header, add it in their original order
                        } else {
                            headers.push(header);
                        }

                    }

                    // Replace the mutableData with the updated version
                    this.mutableData = headers;
                    
                    // Make the API call to persist changes
                    console.log(this.tag+" making API call");
                    let payload = new FormData();
                    payload.append("admin_navigation_header_id", headerId);
                    payload.append("direction", "up");
                    this.axios.post(this.apiBaseUrl + "headers/move", payload)
                        .then(function(response) {
                            console.log(this.tag+" response: ", response);
                        }.bind(this))
                        .catch(function(error) {
                            console.log(this.tag+" error: ", error);
                        }.bind(this));
                }
            },
            onClickMoveDownHeader(headerIndex) {
                console.log(this.tag+" clicked move down header button", headerIndex);

                // Make sure the header can be moved down
                if (headerIndex < (this.mutableData.length - 1)) {

                    // The array of headers to replace the current mutableData array
                    let headers = [];

                    // Determine the index of the header, grab it and update it
                    let otherHeaderIndex = headerIndex + 1;
                    let otherHeader = this.mutableData[otherHeaderIndex];
                    otherHeader.order -= 1;

                    // Save the header's ID once we encounter it for the API call later on
                    let headerId = null;

                    // Loop through all of the headers in mutableData
                    for (let i = 0; i < this.mutableData.length; i++) {

                        // Grab the header we're processing
                        let header = this.mutableData[i];

                        // If it's the header we're moving down
                        if (i === headerIndex) {

                            // Save the header's ID
                            headerId = header.id;

                            // First push the other header onto the output
                            headers.push(otherHeader);
                            
                            // Update the header and push it onto the output
                            header.order += 1;
                            headers.push(header);

                        // Skip the other header
                        } else if (i === otherHeaderIndex) {
                            continue;
                        // All other headers can be added in order
                        } else {
                            headers.push(header);
                        }
                    }

                    // Replace the headers
                    this.mutableData = headers;

                    // Make the API call to persist changes
                    console.log(this.tag+" making API call");
                    let payload = new FormData();
                    payload.append("admin_navigation_header_id", headerId);
                    payload.append("direction", "down");
                    this.axios.post(this.apiBaseUrl + "headers/move", payload)
                        .then(function(response) {
                            console.log(this.tag+" response: ", response);
                        }.bind(this))
                        .catch(function(error) {
                            console.log(this.tag+" error: ", error);
                        }.bind(this));
                }
                
            },
            onClickCreateHeader() {
                console.log(this.tag+" clicked create new header button");
                // Show the add header dialog
                this.dialogs.addHeader.show = true;
            },
            onClickEditHeader(headerIndex) {
                console.log(this.tag+" clicked edit header button", headerIndex);
                // Save the header index
                this.dialogs.editHeader.headerIndex = headerIndex;
                // Populate the edit header form
                this.dialogs.editHeader.form.name = this.mutableData[headerIndex].name;
                this.dialogs.editHeader.form.text = this.mutableData[headerIndex].text;
                // Show the edit header dialog
                this.dialogs.editHeader.show = true;
            },
            onClickDeleteHeader(headerIndex) {
                console.log(this.tag+" clicked delete header button", headerIndex);
                // Save the header index
                this.dialogs.deleteHeader.headerIndex = headerIndex;
                // Show the delete header dialog
                this.dialogs.deleteHeader.show = true;
            },
            showHeaderMoveButton(headerIndex, direction) {
                // If we're moving upwards
                if (direction === "up") {
                    // If we're the first link, we can't go up any further
                    if (headerIndex === 0) {
                        return false;
                    }
                // If we're moving downwards
                } else {
                    // If we're the last link, we can't go down any further
                    if (headerIndex === (this.mutableData.length - 1)) {
                        return false;
                    }
                }
                return true;
            },
            onClickConfirmCreateHeader() {
                console.log(this.tag+" clicked confirm create header button");
                // Determine order
                let order = this.mutableData.length;
                // Add the header to the mutable data
                this.mutableData.push({
                    order: order,
                    name: this.dialogs.addHeader.form.name,
                    text: this.dialogs.addHeader.form.text,
                    links: []
                });
                // Make the API request to persist the new header
                console.log(this.tag+" making api request");
                let payload = new FormData;
                payload.append("order", order);
                payload.append("name", this.dialogs.addHeader.form.name);
                payload.append("text", this.dialogs.addHeader.form.text);
                this.axios.post(this.apiBaseUrl + "headers/create", payload)
                    .then(function(response) {
                        console.log(this.tag+" response: ", response.data);
                    }.bind(this))
                    .catch(function(error) {
                        console.log(this.tag+" error: ", error);
                    }.bind(this));
                // Hide the add header dialog
                this.dialogs.addHeader.show = false;
                // Reset the dialog
                this.dialogs.addHeader.form.name = "";
                this.dialogs.addHeader.form.text = "";
            },
            onClickConfirmEditHeader() {
                console.log(this.tag+" clicked confirm edit header button");
                // Update the header with the form's data
                this.mutableData[this.dialogs.editHeader.headerIndex].name = this.dialogs.editHeader.form.name;
                this.mutableData[this.dialogs.editHeader.headerIndex].text = this.dialogs.editHeader.form.text;
                // Make the API request to persist the changes
                console.log(this.tag+" making api request");
                let payload = new FormData;
                payload.append("admin_navigation_header_id", this.mutableData[this.dialogs.editHeader.headerIndex].id);
                payload.append("order", this.dialogs.editHeader.form.order);
                payload.append("name", this.dialogs.editHeader.form.name);
                payload.append("text", this.dialogs.editHeader.form.text);
                this.axios.post(this.apiBaseUrl + "headers/edit", payload)
                    .then(function(response) {
                        console.log(this.tag+" response: ", response);
                    }.bind(this))
                    .catch(function(error) {
                        console.log(this.tag+" error: ", error);
                    }.bind(this));
                // Hide the dialog
                this.dialogs.editHeader.show = false;
                // Reset the dialog
                this.dialogs.editHeader.headerIndex = null;
                this.dialogs.editHeader.form.name = "";
                this.dialogs.editHeader.form.text = "";
            },
            onClickConfirmDeleteHeader() {
                console.log(this.tag+" clicked confirm delete header button");
                // Make the API request to persist the changes
                console.log(this.tag+" making api request");
                let payload = new FormData;
                payload.append("admin_navigation_header_id", this.mutableData[this.dialogs.deleteHeader.headerIndex].id);
                this.axios.post(this.apiBaseUrl + "headers/delete", payload)
                    .then(function(response) {
                        console.log(this.tag+" response: ", response);
                    }.bind(this))
                    .catch(function(error) {
                        console.log(this.tag+" error: ", error);
                    }.bind(this));
                // Remove the header from the mutableData
                this.mutableData.splice(this.dialogs.deleteHeader.headerIndex, 1);
                // Hide the dialog
                this.dialogs.deleteHeader.show = false;
                // Reset the dialog
                this.dialogs.deleteHeader.headerIndex = null;
            },
            // Links
            onClickMoveUpLink(headerIndex, linkIndex) {
                console.log(this.tag+" clicked move up link", headerIndex, linkIndex);
                
                // Make sure the link can be moved up
                if (linkIndex > 0) {

                    // New array of header's links
                    let links = [];

                    // Determine index of the other link, grab it and update it
                    let otherLinkIndex = linkIndex - 1;
                    let otherLink = this.mutableData[headerIndex].links[otherLinkIndex];
                    otherLink.order += 1;

                    // Track the ID of the link
                    let linkId = null;

                    // Loop through all of the header's links
                    for (let i = 0; i < this.mutableData[headerIndex].links.length; i++) {

                        // Grab the link we're processing
                        let link = this.mutableData[headerIndex].links[i];

                        // If it's the link we're moving up, skip it
                        if (i === otherLinkIndex) {
                            continue;
                        // If it's the link we're moving down
                        } else if (i === linkIndex) {

                            // Save the link's ID
                            linkId = link.id;

                            // Update the link and push it onto the output
                            link.order -= 1;
                            links.push(link);

                            // Push the other link onto the output
                            links.push(otherLink);

                        // If it's any other link, push in the original order
                        } else {
                            links.push(link);
                        }

                    }

                    // Replace the original links with the updated version
                    this.mutableData[headerIndex].links = links;

                    // Make the API call to persist changes
                    console.log(this.tag+" making api request");
                    let payload = new FormData;
                    payload.append("admin_navigation_link_id", linkId);
                    payload.append("direction", "up");
                    this.axios.post(this.apiBaseUrl + "links/move", payload)
                        .then(function(response) {
                            console.log(this.tag+" response: ", response);
                        }.bind(this))
                        .catch(function(error) {
                            console.log(this.tag+" error: ", error);
                        }.bind(this));
                }
            },
            onClickMoveDownLink(headerIndex, linkIndex) {
                console.log(this.tag+" clicked move down link", headerIndex, linkIndex);

                // Make sure the link can be moved down
                if (linkIndex < (this.mutableData[headerIndex].links.length - 1)) {

                    // New array of header's links
                    let links = [];

                    // Determine index of the other link, grab it and update it
                    let otherLinkIndex = linkIndex + 1;
                    let otherLink = this.mutableData[headerIndex].links[otherLinkIndex];
                    otherLink.order -= 1;

                    // Track the ID of the link
                    let linkId = null;

                    // Loop through all of the header's links
                    for (let i = 0; i < this.mutableData[headerIndex].links.length; i++) {

                        // Grab the link we're processing
                        let link = this.mutableData[headerIndex].links[i];

                        // If it's the link we're moving down
                        if (i === linkIndex) {

                            // Save ID of the link
                            linkId = link.id;

                            // First push the other link onto the output array
                            links.push(otherLink);

                            // And then update and push the link we're moving down onto the output array
                            link.order += 1;
                            links.push(link);

                        // If it's the link we've moved up, skip it
                        } else if (i === otherLinkIndex) {
                            continue;
                        // If it's any other link push it in original order
                        } else  {
                            links.push(link);
                        }

                    }

                    // Replace the links of the header
                    this.mutableData[headerIndex].links = links;

                    // Make the API call to persist changes
                    console.log(this.tag+" making api request");
                    let payload = new FormData;
                    payload.append("admin_navigation_link_id", linkId);
                    payload.append("direction", "down");
                    this.axios.post(this.apiBaseUrl + "links/move", payload)
                        .then(function(response) {
                            console.log(this.tag+" response: ", response);
                        }.bind(this))
                        .catch(function(error) {
                            console.log(this.tag+" error: ", error);
                        }.bind(this));
                }
            },
            onClickCreateLink(headerIndex) {
                console.log(this.tag+" clicked create link button", headerIndex);
                // Save the header's index
                this.dialogs.addLink.headerIndex = headerIndex;
                // Show dialog
                this.dialogs.addLink.show = true;
            },
            onClickEditLink(headerIndex, linkIndex) {
                console.log(this.tag+" clicked edit link button", headerIndex, linkIndex);
                // Save the indices
                this.dialogs.editLink.headerIndex = headerIndex;
                this.dialogs.editLink.linkIndex = linkIndex;
                // Populate the dialog's form
                this.dialogs.editLink.form.name = this.mutableData[headerIndex].links[linkIndex].name;
                this.dialogs.editLink.form.text = this.mutableData[headerIndex].links[linkIndex].text;
                this.dialogs.editLink.form.icon = this.mutableData[headerIndex].links[linkIndex].icon;
                this.dialogs.editLink.form.href = this.mutableData[headerIndex].links[linkIndex].href;
                this.dialogs.editLink.form.route = this.mutableData[headerIndex].links[linkIndex].route;
                // Show the dialog
                this.dialogs.editLink.show = true;
            },
            onClickDeleteLink(headerIndex, linkIndex) {
                console.log(this.tag+" clicked delete link button", headerIndex, linkIndex);
                // Save indices
                this.dialogs.deleteLink.headerIndex = headerIndex;
                this.dialogs.deleteLink.linkIndex = linkIndex;
                // Show the dialog
                this.dialogs.deleteLink.show = true;
            },
            showLinkMoveButton(headerIndex, linkIndex, direction) {
                // If we're moving upwards
                if (direction === "up") {
                    // If we're the first link, we can't go up any further
                    if (linkIndex === 0) {
                        return false;
                    }
                // If we're moving downwards
                } else {
                    // If we're the last link, we can't go down any further
                    if (linkIndex === (this.mutableData[headerIndex].links.length - 1)) {
                        return false;
                    }
                }
                return true;
            },
            onClickConfirmCreateLink() {
                console.log(this.tag+" clicked confirm create link button");
                let order = this.mutableData[this.dialogs.addLink.headerIndex].links.length;
                // Add the link to the header
                this.mutableData[this.dialogs.addLink.headerIndex].links.push({
                    order: order,
                    name: this.dialogs.addLink.form.name,
                    text: this.dialogs.addLink.form.text,
                    icon: this.dialogs.addLink.form.icon,
                    href: this.dialogs.addLink.form.href,
                    route: this.dialogs.addLink.form.route,
                });
                // Make the API call to persist the new link
                console.log(this.tag+" making api request");
                let payload = new FormData;
                payload.append("admin_navigation_header_id", this.mutableData[this.dialogs.addLink.headerIndex].id);
                payload.append("order", order);
                payload.append("name", this.dialogs.addLink.form.name);
                payload.append("text", this.dialogs.addLink.form.text);
                payload.append("icon", this.dialogs.addLink.form.icon);
                payload.append("href", this.dialogs.addLink.form.href);
                payload.append("route", this.dialogs.addLink.form.route);
                this.axios.post(this.apiBaseUrl + "links/create", payload)
                    .then(function(response) {
                        console.log(this.tag+" response: ", response.data);
                    }.bind(this))
                    .catch(function(error) {
                        console.log(this.tag+" error: ", error);
                    }.bind(this));
                // Hide the dialog
                this.dialogs.addLink.show = false;
                // Reset the dialog
                this.dialogs.addLink.headerIndex = null;
                this.dialogs.addLink.form.name = "";
                this.dialogs.addLink.form.text = "";
                this.dialogs.addLink.form.icon = "";
                this.dialogs.addLink.form.href = "";
                this.dialogs.addLink.form.route = "";
            },
            onClickConfirmEditLink() {
                console.log(this.tag+" clicked confirm edit link button");
                // Update the link
                this.mutableData[this.dialogs.editLink.headerIndex].links[this.dialogs.editLink.linkIndex].name = this.dialogs.editLink.form.name;
                this.mutableData[this.dialogs.editLink.headerIndex].links[this.dialogs.editLink.linkIndex].text = this.dialogs.editLink.form.text;
                this.mutableData[this.dialogs.editLink.headerIndex].links[this.dialogs.editLink.linkIndex].icon = this.dialogs.editLink.form.icon;
                this.mutableData[this.dialogs.editLink.headerIndex].links[this.dialogs.editLink.linkIndex].href = this.dialogs.editLink.form.href;
                this.mutableData[this.dialogs.editLink.headerIndex].links[this.dialogs.editLink.linkIndex].route = this.dialogs.editLink.form.route;
                // Make the API call to persist changes
                console.log(this.tag+" making api request");
                let payload = new FormData;
                payload.append("admin_navigation_link_id", this.mutableData[this.dialogs.editLink.headerIndex].links[this.dialogs.editLink.linkIndex].id);
                payload.append("order", this.dialogs.editLink.form.order);
                payload.append("name", this.dialogs.editLink.form.name);
                payload.append("text", this.dialogs.editLink.form.text);
                payload.append("icon", this.dialogs.editLink.form.icon);
                payload.append("href", this.dialogs.editLink.form.href);
                payload.append("route", this.dialogs.editLink.form.route);
                this.axios.post(this.apiBaseUrl + "links/edit", payload)
                    .then(function(response) {
                        console.log(this.tag+" response: ", response.data);
                    }.bind(this))
                    .catch(function(error) {
                        console.log(this.tag+" error: ", error);
                    }.bind(this));
                // Hide the dialog
                this.dialogs.editLink.show = false;
                // Reset the dialog
                this.dialogs.editLink.headerIndex = null;
                this.dialogs.editLink.linkIndex = null;
                this.dialogs.editLink.form.name = "";
                this.dialogs.editLink.form.text = "";
                this.dialogs.editLink.form.icon = "";
                this.dialogs.editLink.form.href = "";
                this.dialogs.editLink.form.route = "";
            },
            onClickConfirmDeleteLink() {
                console.log(this.tag+" clicked confirm delete link button");
                // Make the API call to persist changes
                console.log(this.tag+" making api request");
                let payload = new FormData;
                payload.append("admin_navigation_link_id", this.mutableData[this.dialogs.deleteLink.headerIndex].links[this.dialogs.deleteLink.linkIndex].id);
                this.axios.post(this.apiBaseUrl + "links/delete", payload)
                    .then(function(response) {
                        console.log(this.tag+" response: ", response.data);
                    }.bind(this))
                    .catch(function(error) {
                        console.log(this.tag+" error: ", error);
                    }.bind(this));
                // Remove the link from the header
                this.mutableData[this.dialogs.deleteLink.headerIndex].links.splice(this.dialogs.deleteLink.linkIndex, 1);
                // Hide the dialog
                this.dialogs.deleteLink.show = false;
                // Reset the dialog
                this.dialogs.deleteLink.headerIndex = null;
                this.dialogs.deleteLink.linkIndex = null;
            },
            onClickMoveUpSublink(headerIndex, linkIndex, sublinkIndex) {
                console.log(this.tag+" clicked move up link", headerIndex, linkIndex, sublinkIndex);

                // Make sure the sublink can be moved up
                if (sublinkIndex > 0) {
                    
                    // Array of sublinks to replace the current sublinks    
                    let sublinks = [];

                    // Determine the index of the other sublink, grab it and update it
                    let otherSublinkIndex = sublinkIndex - 1;
                    let otherSublink = this.mutableData[headerIndex].links[linkIndex].sublinks[otherSublinkIndex];
                    otherSublink.order += 1;

                    // Sublink ID
                    let sublinkId = null;

                    // Loop through all of the sublinks in the mutable data
                    for (let i = 0; i < this.mutableData[headerIndex].links[linkIndex].sublinks.length; i++) {

                        // Grab the sublink we're processing
                        let sublink = this.mutableData[headerIndex].links[linkIndex].sublinks[i];

                        // If it's the sublink we're moving up, skip it
                        if (i === otherSublinkIndex) {
                            continue;
                        // If it's the sublink we're moving down
                        } else if (i === sublinkIndex) {
                            // Save ID
                            sublinkId = sublink.id;
                            // Update the sublink & add it to the output
                            sublink.order -= 1;
                            sublinks.push(sublink);
                            // Add the other sublink to the output
                            sublinks.push(otherSublink);
                        // If it's any other sublink add it in their original order
                        } else {
                            sublinks.push(sublink);
                        }

                    }

                    // Replace the header's link's sublinks
                    this.mutableData[headerIndex].links[linkIndex].sublinks = sublinks;

                    // Make the API call to persist changes
                    console.log(this.tag+" making api request");
                    let payload = new FormData;
                    payload.append("admin_navigation_link_id", sublinkId);
                    payload.append("direction", "up");
                    this.axios.post(this.apiBaseUrl + "sublinks/move", payload)
                        .then(function(response) {
                            console.log(this.tag+" response: ", response);
                        }.bind(this))
                        .catch(function(error) {
                            console.log(this.tag+" error: ", error);
                        }.bind(this));
                }
            },
            onClickMoveDownSublink(headerIndex, linkIndex, sublinkIndex) {
                console.log(this.tag+" clicked move down link", headerIndex, linkIndex, sublinkIndex);

                // Make sure the sublink can be moved down
                if (sublinkIndex < (this.mutableData[headerIndex].links[linkIndex].sublinks.length - 1)) {

                    // Array of sublinks to replace the current sublinks
                    let sublinks = [];

                    // Determine the index of the other sublink, grab it and update it
                    let otherSublinkIndex = sublinkIndex + 1;
                    let otherSublink = this.mutableData[headerIndex].links[linkIndex].sublinks[otherSublinkIndex];
                    otherSublink.order -= 1;

                    // Sublink ID
                    let sublinkId = null;

                    // Loop through all of the link's sublinks
                    for (let i = 0; i < this.mutableData[headerIndex].links[linkIndex].sublinks.length; i++) {

                        // Grab the sublink we're processing
                        let sublink = this.mutableData[headerIndex].links[linkIndex].sublinks[i];

                        // If it's the sublink we're moving down
                        if (i === sublinkIndex) {

                            // Save ID
                            sublinkId = sublink.id;

                            // First push the other sublink onto the output
                            sublinks.push(otherSublink);

                            // Update the sublink and push it onto the output
                            sublink.order += 1;
                            sublinks.push(sublink);

                        // If it's the sublink we're moving up, skip it
                        } else if (i === otherSublinkIndex) {
                            continue;
                        // If it's any other sublink, push it in it's original state
                        } else {
                            sublinks.push(sublink);
                        }

                    }

                    // Replace the sublinks
                    this.mutableData[headerIndex].links[linkIndex].sublinks = sublinks;

                    // Make the API call to persist changes
                    console.log(this.tag+" making api request");
                    let payload = new FormData;
                    payload.append("admin_navigation_link_id", sublinkId);
                    payload.append("direction", "down");
                    this.axios.post(this.apiBaseUrl + "sublinks/move", payload)
                        .then(function(response) {
                            console.log(this.tag+" response: ", response);
                        }.bind(this))
                        .catch(function(error) {
                            console.log(this.tag+" error: ", error);
                        }.bind(this));
                }

            },
            onClickCreateSublink(headerIndex, linkIndex) {
                console.log(this.tag+" clicked create sublink button", headerIndex, linkIndex);
                // Save indices
                this.dialogs.addSublink.headerIndex = headerIndex;
                this.dialogs.addSublink.linkIndex = linkIndex;
                // Show the dialog
                this.dialogs.addSublink.show = true;
            },
            onClickEditSublink(headerIndex, linkIndex, sublinkIndex) {
                console.log(this.tag+" clicked edit link button", headerIndex, linkIndex, sublinkIndex);
                // Save indices
                this.dialogs.editSublink.headerIndex = headerIndex;
                this.dialogs.editSublink.linkIndex = linkIndex;
                this.dialogs.editSublink.sublinkIndex = sublinkIndex;
                console.log(this.mutableData[headerIndex].links[linkIndex].sublinks[sublinkIndex], this.mutableData[headerIndex].links[linkIndex].sublinks[sublinkIndex].name);
                // Populate the edit form
                this.dialogs.editSublink.form.name = this.mutableData[headerIndex].links[linkIndex].sublinks[sublinkIndex].name;
                this.dialogs.editSublink.form.text = this.mutableData[headerIndex].links[linkIndex].sublinks[sublinkIndex].text;
                this.dialogs.editSublink.form.href = this.mutableData[headerIndex].links[linkIndex].sublinks[sublinkIndex].href;
                this.dialogs.editSublink.form.route = this.mutableData[headerIndex].links[linkIndex].sublinks[sublinkIndex].route;
                // Show the dialog
                this.dialogs.editSublink.show = true;
            },
            onClickDeleteSublink(headerIndex, linkIndex, sublinkIndex) {
                console.log(this.tag+" clicked delete link button", headerIndex, linkIndex, sublinkIndex);
                // Save indices
                this.dialogs.deleteSublink.headerIndex = headerIndex;
                this.dialogs.deleteSublink.linkIndex = linkIndex;
                this.dialogs.deleteSublink.sublinkIndex = sublinkIndex;
                // Show the dialog
                this.dialogs.deleteSublink.show = true;
            },
            showSublinkMoveButton(headerIndex, linkIndex, sublinkIndex, direction) {
                // If we're moving upwards
                if (direction === "up") {
                    // If we're the first link, we can't go up any further
                    if (sublinkIndex === 0) {
                        return false;
                    }
                // If we're moving downwards
                } else {
                    // If we're the last link, we can't go down any further
                    if (sublinkIndex === (this.mutableData[headerIndex].links[linkIndex].sublinks.length - 1)) {
                        return false;
                    }
                }
                return true;
            },
            onClickConfirmCreateSublink() {
                console.log(this.tag+" clicked confirm create sublink button");
                // Determine the order 
                let order = this.mutableData[this.dialogs.addSublink.headerIndex].links[this.dialogs.addSublink.linkIndex].sublinks.length;
                // Add sublink to the link
                this.mutableData[this.dialogs.addSublink.headerIndex].links[this.dialogs.addSublink.linkIndex].sublinks.push({
                    order: order,
                    name: this.dialogs.addSublink.form.name,
                    text: this.dialogs.addSublink.form.text,
                    href: this.dialogs.addSublink.form.href,
                    route: this.dialogs.addSublink.form.route
                });
                // Make the API call to persist the new sublink
                console.log(this.tag+" making api request");
                let payload = new FormData;
                payload.append("admin_navigation_link_id", this.mutableData[this.dialogs.addSublink.headerIndex].links[this.dialogs.addSublink.linkIndex].id);
                payload.append("order", order);
                payload.append("name", this.dialogs.addSublink.form.name);
                payload.append("text", this.dialogs.addSublink.form.text);
                payload.append("href", this.dialogs.addSublink.form.href);
                payload.append("route", this.dialogs.addSublink.form.route);
                this.axios.post(this.apiBaseUrl + "sublinks/create", payload)
                    .then(function(response) {
                        console.log(this.tag+" response: ", response.data);
                    }.bind(this))
                    .catch(function(error) {
                        console.log(this.tag+" error: ", error);
                    }.bind(this));
                // Hide the dialog
                this.dialogs.addSublink.show = false;
                // Reset the dialog
                this.dialogs.addSublink.form.name = "";
                this.dialogs.addSublink.form.text = "";
                this.dialogs.addSublink.form.href = "";
                this.dialogs.addSublink.form.route = "";
            },
            onClickConfirmEditSublink() {
                console.log(this.tag+" clicked confirm edit sublink button");
                // Update the sublink
                this.mutableData[this.dialogs.editSublink.headerIndex].links[this.dialogs.editSublink.linkIndex].sublinks[this.dialogs.editSublink.sublinkIndex].name = this.dialogs.editSublink.form.name;
                this.mutableData[this.dialogs.editSublink.headerIndex].links[this.dialogs.editSublink.linkIndex].sublinks[this.dialogs.editSublink.sublinkIndex].text = this.dialogs.editSublink.form.text;
                this.mutableData[this.dialogs.editSublink.headerIndex].links[this.dialogs.editSublink.linkIndex].sublinks[this.dialogs.editSublink.sublinkIndex].href = this.dialogs.editSublink.form.href;
                this.mutableData[this.dialogs.editSublink.headerIndex].links[this.dialogs.editSublink.linkIndex].sublinks[this.dialogs.editSublink.sublinkIndex].route = this.dialogs.editSublink.form.route;
                // Make the API call to persist changes
                console.log(this.tag+" making api request");
                let payload = new FormData;
                payload.append("admin_navigation_link_id", this.mutableData[this.dialogs.editSublink.headerIndex].links[this.dialogs.editSublink.linkIndex].sublinks[this.dialogs.editSublink.sublinkIndex].id);
                payload.append("name", this.dialogs.editSublink.form.name);
                payload.append("text", this.dialogs.editSublink.form.text);
                payload.append("href", this.dialogs.editSublink.form.href);
                payload.append("route", this.dialogs.editSublink.form.route);
                this.axios.post(this.apiBaseUrl + "sublinks/edit", payload)
                    .then(function(response) {
                        console.log(this.tag+" response: ", response.data);
                    }.bind(this))
                    .catch(function(error) {
                        console.log(this.tag+" error: ", error);
                    }.bind(this));
                // Hide the dialog
                this.dialogs.editSublink.show = false;
                // Reset the dialog
                this.dialogs.editSublink.form.name = "";
                this.dialogs.editSublink.form.text = "";
                this.dialogs.editSublink.form.href = "";
                this.dialogs.editSublink.form.route = "";
            },
            onClickConfirmDeleteSublink() {
                console.log(this.tag+" clicked confirm delete sublink button");
                // Make API call to persist
                console.log(this.tag+" making api request");
                let payload = new FormData;
                payload.append("admin_navigation_link_id", this.mutableData[this.dialogs.deleteSublink.headerIndex].links[this.dialogs.deleteSublink.linkIndex].sublinks[this.dialogs.deleteSublink.sublinkIndex].id);
                this.axios.post(this.apiBaseUrl + "sublinks/delete", payload)
                    .then(function(response) {
                        console.log(this.tag+" response: ", response.data);
                    }.bind(this))
                    .catch(function(error) {
                        console.log(this.tag+" error: ", error);
                    }.bind(this));
                // Remove the sublink from the link
                this.mutableData[this.dialogs.deleteSublink.headerIndex].links[this.dialogs.deleteSublink.linkIndex].sublinks.splice(this.dialogs.deleteSublink.sublinkIndex, 1);
                // Hide the dialog
                this.dialogs.deleteSublink.show = false;
                // Reset the dialog
                this.dialogs.deleteSublink.headerIndex = null;
                this.dialogs.deleteSublink.linkIndex = null;
                this.dialogs.deleteSublink.sublinkIndex = null;
            },

        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    #navigation-settings {
        #navigation-headers {
            .header-wrapper {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                .header {
                    display: flex;
                    padding: 10px 15px;
                    border-radius: 3px;
                    flex-direction: row;
                    box-sizing: border-box;
                    background-color: #fcfcfc;
                    .header-text {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .header-text__subtitle {
                            font-size: .6em;
                            text-transform: uppercase;
                        }
                        .header-text__title {
                            font-size: 1.2em;
                            // font-weight: bold;
                        }
                    }
                    .header-actions {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        a, a:active, a:visited {
                            color: #1E88E5;
                            margin: 0 0 0 15px;
                            text-decoration: none;
                            &.edit {
                                color: #FB8C00;
                            }
                            &.delete {
                                color: #E53935;
                            }
                        }
                    }
                }
                .links-wrapper {
                    background-color: #fcfcfc;
                    border-top: 1px solid #f5f5f5;
                    .links-label {
                        font-size: .6em;
                        box-sizing: border-box;
                        text-transform: uppercase;
                        padding: 10px 10px 10px 15px;
                        border-bottom: 1px solid #f5f5f5;
                    }
                    .links {
                        .link-entry {
                            .link {
                                display: flex;
                                padding: 10px 15px;
                                flex-direction: row;
                                align-items: center;
                                transition: all .3s;
                                box-sizing: border-box;
                                &:hover {
                                    background-color: #f5f5f5;
                                }
                                .link-icon {
                                    flex: 0 0 25px;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                }
                                .link-text {
                                    flex: 1;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                }
                                .link-actions {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    a, a:active, a:visited {
                                        color: #1E88E5;
                                        margin: 0 0 0 15px;
                                        text-decoration: none;
                                        &.edit {
                                            color: #FB8C00;
                                        }
                                        &.delete {
                                            color: #E53935;
                                        }
                                    }
                                }
                            }
                            .sublinks-wrapper {
                                // background-color: #f0f0f0;
                                .sublinks {
                                    .sublink {
                                        display: flex;
                                        font-size: .8em;
                                        flex-direction: row;
                                        box-sizing: border-box;
                                        padding: 5px 15px 5px 25px;
                                        &:hover {
                                            background-color: #f5f5f5;
                                        }
                                        .sublink-text {
                                            flex: 1;
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                        }
                                        .sublink-actions {
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            a, a:active, a:visited {
                                                color: #1E88E5;
                                                margin: 0 0 0 18px;
                                                text-decoration: none;
                                                &.edit {
                                                    color: #FB8C00;
                                                }
                                                &.delete {
                                                    color: #E53935;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #header-actions {
                display: flex;
                flex-direction: row;
                .v-btn {
                    margin: 0;
                }
            }
        }
    }
</style>