<template>
    <div id="template-settings">

        <!-- Logo image -->
        <div class="field">
            <image-field
                name="logo_image"
                :label="settingLogoImage.label"
                :hint="settingLogoImage.description"
                v-model="form.logoImage">
            </image-field>
        </div>

        <!-- Logo text -->
        <div class="field">
            <v-text-field
                name="logo_text"
                :label="settingLogoText.label"
                :hint="settingLogoText.description"
                v-model="form.logoText"
                persistent-hint>
            </v-text-field>
        </div>

        <!-- Footer text -->
        <div class="field">
            <v-text-field
                name="footer_text"
                :label="settingFooterText.label"
                :hint="settingFooterText.description"
                v-model="form.footerText"
                persistent-hint>
            </v-text-field>
        </div>

    </div>
</template>

<script>
    export default {
        props: [
            "settingLogoImage",
            "settingLogoText",
            "settingFooterText",
        ],
        data: () => ({
            tag: "[template-settings]",
            form: {
                logoImage: "",
                logoText: "",
                footerText: "",
            },
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" logo image: ", this.settingLogoImage);
                console.log(this.tag+" logo text: ", this.settingLogoText);
                console.log(this.tag+" footer text: ", this.settingFooterText);
                this.initializeData();
            },
            initializeData() {
                if (this.settingLogoImage !== undefined && this.settingLogoImage !== null) {
                    this.form.logoImage = this.settingLogoImage.formatted_value;
                }
                if (this.settingLogoText !== undefined && this.settingLogoText !== null) {
                    this.form.logoText = this.settingLogoText.formatted_value;
                }
                if (this.settingFooterText !== undefined && this.settingFooterText !== null) {
                    this.form.footerText = this.settingFooterText.formatted_value;
                }
            },
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    #template-settings {
        .field {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
</style>