<template>
    <div id="admin-navigation" v-if="mutableHeaders.length > 0">

        <!-- Header -->
        <div class="navigation-header" v-for="(header, hi) in mutableHeaders" :key="hi">

            <!-- Header text -->
            <div class="navigation-header__text">{{ header.text }}</div>

            <!-- Header links -->
            <div class="navigation-header__links">

                <!-- Link -->
                <div class="navigation-link__wrapper" v-for="(link, li) in header.links" :key="li">

                    <!-- Anchor -->
                    <a class="navigation-link" v-if="link.sublinks.length === 0" :href="link.href" :class="{ active: link.is_active }">
                        <!-- Icon -->
                        <div class="navigation-link__icon" v-if="link.icon" v-html="link.icon"></div>
                        <!-- Text -->
                        <div class="navigation-link__text">{{ link.text }}</div>
                    </a>

                    <!-- Dropdown -->
                    <div class="navigation-dropdown-link" v-if="link.sublinks.length > 0" :class="{ active: link.is_active }">
                        <!-- Dropdown header -->
                        <div class="dropdown-header" @click="onClickHeader(hi, li)">
                            <!-- Icon -->
                            <div class="dropdown-header__icon" v-if="link.icon" v-html="link.icon"></div>
                            <!-- Text -->
                            <div class="dropdown-header__text">{{ link.text }}</div>
                            <!-- Actions -->
                            <div class="dropdown-header__actions">
                                <!-- Collapse -->
                                <div class="dropdown-header__action">
                                    <span v-if="link.expanded">
                                        <i class="fas fa-chevron-up"></i>
                                    </span>
                                    <span v-if="!link.expanded">
                                        <i class="fas fa-chevron-down"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Dropdown links -->
                        <div class="dropdown-links" v-if="link.expanded">
                            <!-- Dropdown link -->
                            <a class="dropdown-link" v-for="(sublink, si) in link.sublinks" :key="si" :href="sublink.href">
                                <div class="dropdown-link__icon">
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </div>
                                <div class="dropdown-link__text">{{ sublink.text }}</div>
                            </a>
                        </div>
                    </div>

                </div><!-- End of link -->

            </div><!-- End of header links -->

        </div><!-- End of header -->
        
    </div>
</template>

<script>
    export default {
        props: [
            "data",
        ],
        data: () => ({
            tag: "[admin-navigation]",
            mutableHeaders: [],
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" data: ", this.data);
                this.initializeData();
            },
            initializeData() {
                if (this.data !== undefined && this.data !== null && this.data.length > 0) {
                    for (let i = 0; i < this.data.length; i++) {
                        this.mutableHeaders.push(this.data[i]);
                    }
                }
            },
            onClickHeader(headerIndex, linkIndex) {
                this.mutableHeaders[headerIndex].links[linkIndex].expanded = !this.mutableHeaders[headerIndex].links[linkIndex].expanded;
            },
            
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    #admin-navigation {
        .navigation-header {
            .navigation-header__text {
                margin: 0 0 10px 0;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.75);
            }
            .navigation-header__links {
                margin-bottom: 25px;
                .navigation-link__wrapper {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .navigation-link {
                        display: flex;
                        flex-direction: row;
                        transition: all .3s;
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.5);
                        &.active {
                            color: #1E88E5;
                            &:hover {
                                color: #1565C0;
                            }
                        }
                        &:hover {
                            color: rgba(0, 0, 0, 1);
                        }
                        .navigation-link__icon {
                            flex: 0 0 25px;
                        }
                        .navigation-link__text {
                            flex: 1;
                        }
                    }
                    .navigation-dropdown-link {
                        .dropdown-header {
                            display: flex;
                            flex-direction: row;
                            .dropdown-header__icon {
                                flex: 0 0 25px;
                            }
                            .dropdown-header__text {
                                flex: 1;
                                transition: all .3s;
                                color: rgba(0, 0, 0, 0.5);
                            }
                            .dropdown-header__actions {

                            }
                            &:hover {
                                cursor: pointer;
                                color: rgba(0, 0, 0, 1);
                            }
                        }
                        .dropdown-links {
                            margin-top: 10px;
                            border-radius: 3px;
                            background-color: #f5f5f5;
                            .dropdown-link {
                                display: flex;
                                font-size: .9em;
                                padding: 5px 10px;
                                flex-direction: row;
                                transition: .3s all;
                                text-decoration: none;
                                color: rgba(0, 0, 0, 0.5);
                                border-bottom: 1px solid rgba(255, 255, 255, 1);
                                &:last-child {
                                    border-bottom: 0;
                                }
                                &:hover {
                                    color: rgba(0, 0, 0, 1);
                                    background-color: #efefef;
                                }
                                &.active {
                                    color: #1E88E5;
                                    &:hover {
                                        color: #1565C0;
                                    }
                                }
                                .dropdown-link__icon {
                                    flex: 0 0 25px;
                                }
                                .dropdown-link__text {
                                    flex: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</style>