<template>
    <div class="color-display">
        <div class="color" :style="{ backgroundColor: color }"></div>
    </div>
</template>

<script>
    export default {
        props: ["color"],
        data: () => ({
            tag: "[color-display]"
        }),
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" color: ", this.color);
            }
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .color-display {
        width: 25px;
        height: 25px;
        display: flex;
        margin-right: 10px;
        border-radius: 2px;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
        .color {
            width: 15px;
            height: 15px;
            border-radius: 2px;
        }
    }
</style>