<template>
    <div class="data-table">

        <!-- If there are records -->
        <div v-if="!missingConfig && mutableData.length > 0">

            <!-- Filters -->
            <div class="data-table__filters">
                <div class="data-table__search">
                    <v-text-field label="Search" v-model="filters.searchQuery" solo hide-details class="mb-0"></v-text-field>
                </div>
            </div>
            
            <!-- Data table -->
            <div class="content-card no-padding data-table__data elevation-2" v-if="paginatedData.length > 0">

                <!-- Header -->
                <div class="data-table__data-row header">
                    <div class="data-table__data-col" v-for="(field, hi) in fields" :key="hi">
                        {{ field.heading }}
                    </div>
                    <div class="data-table__data-col">Options</div>
                </div>

                <!-- Entries -->
                <div class="data-table__data-row" v-for="(entry, ei) in paginatedData" :key="ei">
                    <div class="data-table__data-col" v-for="(field, hi) in fields" :key="hi">
                        {{ entry[field.field] }}
                    </div>
                    <div class="data-table__data-col">
                        <a :href="entry.view_href">View</a>
                        <a :href="entry.edit_href">Edit</a>
                        <a :href="entry.delete_href">Delete</a>
                    </div>
                </div>
            
            </div>

        </div>

        <!-- Pagination -->
        <div class="data-table__data-pagination" v-if="numPaginationPages > 1">
            <v-pagination 
                total-visible="7" 
                v-model="pagination.currentPage" 
                :length="numPaginationPages">
            </v-pagination>
        </div>
        
        <!-- If we're missing configuration -->
        <div class="content-card no-padding data-table__missing-config elevation-2" v-if="missingConfig">
            The data table component is missing it's required configuration parameters.
        </div>

        <!-- If there are no records -->
        <div class="content-card no-padding data-table__no-records elevation-2" v-if="!missingConfig && paginatedData.length === 0">
            No records could be found.
        </div>

    </div>
</template>

<script>
    export default {
        props: [
            "data",
            "config",
        ],
        data: () => ({
            tag: "[data-table]",
            mutableData: [],
            filteredData: [],
            paginatedData: [],
            pagination: {
                perPage: 10,
                currentPage: 1,
            },
            filters: {
                searchQuery: "",
            }
        }),
        computed: {
            missingConfig() {
                if (this.config === undefined || this.config === null || this.config.headers === undefined || this.config.headers === null || this.config.header.length === 0) {
                    return false;
                }
                return true;
            },
            fields() {
                var out = [];
                if (this.config !== undefined && this.config !== null && this.config.fields !== undefined && this.config.fields !== null && this.config.fields.length > 0) {
                    for (let i = 0; i < this.config.fields.length; i++) {
                        out.push(this.config.fields[i]);
                    }
                }
                return out;
            },
            numPaginationPages() {
                return Math.ceil(this.filteredData.length / this.pagination.perPage);
            },
        },
        watch: {
            "pagination.currentPage": function() {
                this.updatePaginatedData();
            },
            "filters": {
                deep: true,
                handler: function() {
                    this.updateFilteredData();
                }
            }
        },
        methods: {
            initialize() {
                console.log(this.tag+" initialize");
                console.log(this.tag+" data: ", this.data);
                console.log(this.tag+" config: ", this.config);
                console.log(this.tag+" fields: ", this.config.fields);
                this.initializeData();
            },
            initializeData() {
                if (this.data !== undefined && this.data !== null && this.data.length > 0) {
                    for (let i = 0; i < this.data.length; i++) {
                        this.mutableData.push(this.data[i]);
                    }
                }
                this.updateFilteredData();
            },
            updateFilteredData() {
                console.log(this.tag+" updating filtered data");
                this.filteredData = [];
                console.log(this.tag+" filtered items: ", this.filteredData);
                if (this.mutableData.length > 0) {
                    for (let i = 0; i < this.mutableData.length; i++) {
                        let entry = this.mutableData[i];
                        console.log(this.tag+" checking entry: ", entry);
                        if (this.filters.searchQuery !== "") {
                            console.log(this.tag+" search query: ", this.filters.searchQuery);
                            let matches = false;
                            for (let j = 0; j < this.config.fields.length; j++) {
                                if (matches) break;
                                let value = entry[this.config.fields[j].field];
                                console.log(this.tag+" value: ", value);
                                if (value.toLowerCase().includes(this.filters.searchQuery.toLowerCase())) {
                                    matches = true;
                                }
                            }
                            console.log(this.tag+" matches: ", matches);
                            if (!matches) continue;
                        }   
                        this.filteredData.push(entry);
                    }
                }
                console.log(this.tag+" filtered items: ", this.filteredData);
                this.updatePaginatedData();
            },
            updatePaginatedData() {
                this.paginatedData = [];
                if (this.filteredData.length > 0) {
                    let start_slicing_at = (this.pagination.currentPage - 1) * this.pagination.perPage;
                    let stop_slicing_at = start_slicing_at + this.pagination.perPage;
                    this.paginatedData = this.filteredData.slice(start_slicing_at, stop_slicing_at);
                    if (this.pagination.currentPage > this.numPaginationPages) {
                        this.pagination.currentPage = 1;
                    }
                }
            },
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .data-table {
        .data-table__missing-config, .data-table__no-records {
            padding: 50px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            justify-content: center;
        }
        .data-table__filters {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
            .data-table__search {
                flex: 0 0 400px;
            }
        }
        .data-table__data {
            overflow: hidden;
            border-radius: 3px;
            .data-table__data-row {
                display: flex;
                flex-direction: row;
                &.header {
                    font-size: 1.1em;
                    font-weight: bold;
                    background-color: #fcfcfc;
                }
                .data-table__data-col {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 15px;
                    box-sizing: border-box;
                    &:first-child {
                        justify-content: flex-start;
                    }
                    &:last-child {
                        justify-content: flex-end;
                        a, a:active, a:visited {
                            margin: 0 0 0 5px;
                            transition: all .3s;
                            text-decoration: none;
                            color: rgba(0, 0, 0, 0.55);
                            &:hover {
                                color: rgba(0, 0, 0, 1);
                            }
                        }
                    }
                }
            }
        }
        .data-table__data-pagination {
            display: flex;
            padding: 15px;
            align-items: center;
            box-sizing: border-box;
            justify-content: center;
        }
    }
</style>