<template>
    <div class="boolean-field">

        <!-- Select -->
        <v-select :label="label" v-model="mutableValue" :items="booleanOptions"></v-select>

        <!-- Input --> 
        <input type="hidden" :name="name" :value="mutableValue" />

    </div>
</template>

<script>
    export default {
        props: [
            "name",
            "label",
            "value",
        ],
        data: () => ({
            tag: "[boolean-field]",
            initialized: false,
            mutableValue: false,
            booleanOptions: [],
        }),
        computed: {
            hasLabel() {
                return this.label !== undefined && this.label !== null && this.label !== "";
            }
        },
        watch: {
            mutableValue(newVal) {
                this.$emit("input", newVal);
            },
            value() {
                if (!this.initialized) {
                    this.mutableValue = this.value;
                    this.initialized = true;
                }
            }
        },
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" name: ", this.name);
                console.log(this.tag+" label: ", this.label);
                console.log(this.tag+" value: ", this.value);
                this.generateBooleanOptions();
                if (this.value !== undefined && this.value !== null && this.value !== '') {
                    this.mutableValue = this.value === 'true' ? true : false;
                }
            },
            generateBooleanOptions() {
                this.booleanOptions.push({ text: "Yes", value: true });
                this.booleanOptions.push({ text: "No", value: false });
            }
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .boolean-field {

    }
</style>