<template>
    <div class="colorpicker-field">

        <!-- Label -->
        <div class="colorpicker-field__label" v-if="label !== undefined || label !== ''">{{ label }}</div>

        <!-- Input field -->
        <div class="colorpicker-field__input">
            <input type="text" :id="name" v-model="mutableValue" autocomplete="off" />
        </div>

        <!-- Hidden input (passing the data to the POST) -->
        <input type="hidden" :name="name" :value="mutableValue" />

    </div>
</template>

<script>
    export default {
        props: [
            "name",
            "label",
            "value",
            "mode",
            "alpha",
        ],
        data: () => ({
            tag: "[colorpicker-field]",
            initialized: false,
            mutableValue: ""
        }),
        watch: {
            mutableValue: function(newVal) {
                this.$emit("input", newVal);
            },
            value() {
                if (!this.initialized) {
                    this.mutableValue = this.value;
                    this.initialized = true;
                }
            }
        },
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" name: ", this.name);
                console.log(this.tag+" label: ", this.label);
                console.log(this.tag+" value: ", this.value);
                console.log(this.tag+" alpha: ", this.alpha);
                console.log(this.tag+" mode: ", this.mode);
                if (this.value !== undefined && this.value !== null && this.value !== "") {
                    console.log("!!! Setting mutable value to "+this.value);
                    this.mutableValue = this.value;
                }
                this.initializeColorpicker();
            },
            initializeColorpicker() {
                $(document).ready(function() {
                    
                    let id = "#" + this.name;
                    
                    $(id).minicolors({
                        opacity: this.alpha === undefined ? false : true,
                        format: this.mode === undefined ? 'rgb' : this.mode,
                    });

                    $(id).on("input", function() {
                        this.mutableValue = $(id).val();
                    }.bind(this));

                }.bind(this));
            },
        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .colorpicker-field {
        margin-bottom: 15px;
        .colorpicker-field__label {
            font-size: 14px;
            margin-bottom: 5px;
            color: rgba(0, 0, 0, 0.55);
        }
        .colorpicker-field__input {
            .minicolors {
                width: 100%;
                .minicolors-swatch {
                    top: 0;
                    left: 0;
                    width: 30px;
                    height: 30px;
                }
                input[type=text] {
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    padding: 0 10px 0 40px;
                    box-sizing: border-box;
                }
            }
        }
    }
    .minicolors-input {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .minicolors-input:focus {
        outline: none;
    }
</style>