<template>
    <div class="date-time-field">

        <!-- Label -->
        <div class="date-time-field__label" v-if="label">{{ label }}</div>

        <!-- Input -->
        <div class="date-time-field__input-wrapper">
            <input 
                :id="name" 
                type="text" 
                class="date-time-field__input" 
                v-model="mutableValue" 
                autocomplete="off"
                :placeholder="placeholder" />
        </div>
        
        <!-- Hint -->
        <div class="date-time-field__hint" v-if="hint">{{ hint }}</div>

        <!-- Hidden input -->
        <input type="hidden" :name="name" :value="mutableValue" />

    </div>
</template>

<script>
    export default {
        props: [
            "value",
            "name",
            "label",
            "hint",
            "placeholder",
        ],
        data: () => ({
            tag: "[date-time-field]",
            mutableValue: null
        }),
        watch: {
            value() {
                if (this.mutableValue === null) {
                    this.initializePlugin();
                }
            }
        },
        methods: {
            initialize() {
                // console.log(this.tag+" initializing");
                // console.log(this.tag+" initial value: ", this.value);
                this.initializePlugin();
            },
            initializePlugin() {
                // console.log(this.tag+" initializing plugin");

                $.fn.datepicker.language['nl'] = {
                    days: ['Zondag', 'Maandag', 'Dinsdag', 'Woensdag', 'Donderdag', 'Vrijdag', 'Zaterdag'],
                    daysShort: ['Zo', 'Ma', 'Di', 'Wo', 'Do', 'Vr', 'Zat'],
                    daysMin: ['Zo', 'M', 'D', 'W', 'D', 'V', 'Za'],
                    months: ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Juli', 'Augustus', 'September', 'Oktober', 'November', 'December'],
                    monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
                    today: 'Vandaag',
                    clear: 'Reset',
                    dateFormat: 'dd/mm/yyyy',
                    timeFormat: 'hh:ii',
                    firstDay: 0
                };
                
                $(document).ready(function() {
                    
                    let self = this;

                    let dp = $("#"+this.name).datepicker({
                        language: "nl",
                        dateFormat: "dd/mm/yyyy",
                        timepicker: true,
                        autoClose: true,
                        onSelect: function(formattedDate, date, inst) {
                            self.mutableValue = formattedDate;
                        }
                    }).data('datepicker');

                    if (this.value !== "" && this.value !== null) {
                        console.log("Creating date object, ", this.value);
                        let segments = this.value.split(" ");
                        let dates = segments[0].split("/");
                        let times = segments[1].split(":");

                        let year = parseInt(dates[2]);
                        let month = parseInt(dates[1]-1);
                        let day = parseInt(dates[0]);
                        let hour = parseInt(times[0]);
                        let minutes = parseInt(times[1]);
                        let seconds = parseInt(times[2]);

                        let initialDate = new Date(year, month, day, hour, minutes, seconds, 0);
                        dp.selectDate(initialDate);
                    }

                }.bind(this));
            },

        },
        mounted() {
            this.initialize();
        }
    }
</script>

<style lang="scss">
    .date-time-field {
        .date-time-field__label {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.55);
        }
        .date-time-field__input-wrapper {
            margin-bottom: 15px;
            .date-time-field__input {
                width: 100%;
                height: 32px;
                padding: 8px 0;
                box-sizing: border-box;
                border-bottom: 1px solid rgba(0, 0, 0, 0.87);
                &:focus {
                    outline: none;
                }
            }
        }
        .date-time-field__hint {
            font-size: .9em;
            margin-top: -10px;
            margin-bottom: 15px;
            color: rgba(0, 0, 0, 0.55);
        }
    }
</style>