<template>
    <div class="image-field">

        <!-- Label -->
        <div class="image-field__label" v-if="label !== undefined && label !== null">{{ label }}</div>

        <!-- Current value -->
        <div class="image-field__current-value" v-if="hasCurrentValue">
            <div class="current-value__label">Huidige plaatje:</div>
            <div class="current-value__link">
                <a :href="value" target="_blank">{{ value }}</a>
            </div>
        </div>

        <!-- Field input -->
        <div class="image-field__input">
            <input type="file" :name="name" />
        </div>

    </div>
</template>

<script>
    export default {
        props: [
            "name",
            "label",
            "value",
            "hint",
        ],
        data: () => ({
            tag: "[image-field]",
            mutableValue: null,
        }),
        computed: {
            hasCurrentValue() {
                return this.value !== undefined && this.value !== null && this.value !== "";
            }
        },
        methods: {
            initialize() {
                console.log(this.tag+" initializing");
                console.log(this.tag+" name: ", this.name);
                console.log(this.tag+" label: ", this.label);
                console.log(this.tag+" value: ", this.value);
                this.initializeData();
            },
            initializeData() {
                if (this.value !== undefined && this.value !== null) {
                    this.mutableValue = this.value;
                }
            },
        }
    }
</script>

<style lang="scss">
    .image-field {
        margin-bottom: 15px;
        .image-field__label {
            font-size: 14px;
            margin-bottom: 5px;
            color: rgba(0, 0, 0, 0.55);
        }
        .image-field__current-value {
            display: flex;
            font-size: .8em;
            flex-direction: row;
            margin-bottom: 10px;
            color: rgba(0, 0, 0, 0.55);
            .current-value__label {
                font-weight: bold;
                margin-right: 5px;
            }
            .current-value__link {
                flex: 1;
                a, a:active, a:visited {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.55);
                }
            }
        }
        .image-field__input {
            
        }
    }
</style>